<h1>Index</h1>

<h3>Products</h3>

<% @products.each do |product| %>
    <div class="product_display">
        <p><%= image_tag product.product_image.url(:thumb) %></p>
        <p><%= link_to product.name, product_path(product)%> </p>
        <p><%= product.price%> </p>
    </div>
<% end %>